<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinhe.haoyuncaipiao">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许使用震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".base.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DoubleBallActivity"
            android:label="@string/double_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AutoSelectActivity"
            android:label="@string/machine_selection_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChooseBallPaymentActivity"
            android:label="@string/payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SuperLottoActivity"
            android:label="@string/title_activity_super_lotto"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.SuperLottoPaymentActivity" />
        <activity
            android:name=".ui.activity.Football.FootBallActivity"
            android:label="@string/football_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PayActivity"
            android:label="@string/pay_title"
            android:screenOrientation="portrait" />

        <!-- 微信支付回调 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxe90a89b17657d1ae" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!-- Alipay -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.RechargeActivity"
            android:label="@string/title_activity_recharge"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.LotteryInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.order.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.order.BallOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.PersonalInformationActivity" />
        <activity android:name=".ui.activity.WithdrawActivity" />
        <activity android:name=".ui.activity.SetActivity" />
        <activity android:name=".ui.activity.Football.ScoreBetActivity" />
        <activity android:name=".ui.activity.Football.SizeBetActivity" />
        <activity android:name=".ui.activity.Football.FootAllBetActivity" />
        <activity android:name=".ui.activity.order.FootBallOrderDetailActivity" />
        <activity android:name=".ui.activity.BindPhoneActivity" />
        <activity android:name=".ui.activity.FootBallOrderItemActivity" />
        <activity android:name=".ui.activity.runlottery.FootRunActivity" />
        <activity android:name=".ui.activity.arrange.Line5Activity" />
        <activity android:name=".ui.activity.arrange.ArrangePayActivity" />
        <activity
            android:name=".ui.activity.arrange.Line3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.arrange.Lottery3DActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.Football.MixtureBetActivity" />
        <activity android:name=".ui.activity.order.BallOrderDetailOneActivity" />
        <activity android:name=".ui.activity.chipped.ChippedActivity" />
        <activity android:name=".ui.activity.PaySucessActivity" />
        <activity android:name=".ui.activity.chipped.ChippedDetailActivity" />
        <activity android:name=".ui.activity.order.ChippedOrderDetailActivity" />
        <activity android:name=".ui.activity.RedPacketActivity" />
        <activity android:name=".ui.activity.PayAffirmActivity" />
     <!--   //版本更新下载-->
        <service android:name=".view.update.DownloadService" />
       <!-- //针对7.0添加代码-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xinhe.haoyuncaipiao.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_app_path" />
        </provider>

        <activity android:name=".ui.activity.AboutActivity"></activity>
    </application>

</manifest>