<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.futurelottery">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许使用震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DoubleBallActivity"
            android:label="@string/double_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AutoSelectActivity"
            android:label="@string/machine_selection_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChooseBallPaymentActivity"
            android:label="@string/payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SuperLottoActivity"
            android:label="@string/title_activity_super_lotto"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.SuperLottoPaymentActivity"></activity>
        <activity android:name=".ui.activity.Football.FootBallActivity"
            android:label="@string/football_title"
            android:screenOrientation="portrait"/>
    </application>

</manifest>